.find_nav {
    width: auto;
    height: 45px;
    background-color: #f9f9f9;
    top: 0;
    /*z-index: 99;*/
    border: 1px solid #ddd;
    /*display: -moz-box;
    display: -webkit-box;
    display: box;*/
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.current a {
    color: #48a5f4 !important;
}

